<nav>
  <div class="container">
    <div class="navbar">
      <%# child 1 %>
      <div class="nav-brand">
        <div class="flex f-center">
          <%= image_tag "logo.png", class: "logo" %>
          <h6 class="hd-sm">Chore</h6>
        </div>
      </div>
      <%= form_tag tasks_path, :method => "get" do %>
        <div class="flex">
          <%= text_field_tag :search, params[:search], class: "min-w-300 mr-1", placeholder: "search tasks.." %>
          <%# <%= submit_tag "Search"%>
        </div>
      <% end %>
      <%# child 2 %>
      <div>
        <%= image_tag "avatar.png", class: "avatar cursor-p", id: "popup-toggler" %>
        <div class="popup-menu display-none" >
          <ul>
            <li class="popup-link">Account</li>
            <li class="popup-link">Collab Requests</li>
            <li class="popup-link">  <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
