<%# utility functions %>
<%
def is_current(path)
    if request.path == path
      return true
    else
      return false
    end
  end
%>
<%# Task Card %>
<div class="card p-2 <%= task.is_completed ? " bg-s " : Time.at(task.end_date.to_i) < Time.at(Time.now.utc.to_i) ? "bg-err" : " bg-p "  %>  rounded-lg task-card" id="<%= dom_id task %>" >
  <%# Title and poup menu %>
  <div class="flex f-space-between">
    <div class="flex f-c f-start">
      <a class="hd-md text-w capitize text-bl text-hover-underline <%= task.is_completed ? " text-line-through " : " "%>" href="<%= show_task_path(task.id)%>"><%= task.title.size > 13 ? (task.title[0..10] + "...") : task.title %></a>
    </div>
    <div class="flex f-center-vh">
      <div>
        <span class="material-symbols-outlined cursor-p popup-toggler icon bg-w rounded-o " id="popup-toggler" style="font-weight: bolder; padding:3px;">more_vert</span>
        <%# pop up menu %>
        <div class="popup-menu display-none">
          <ul>
            <% is_starred_page =  is_current(starred_tasks_path) %>
            <li class="popup-link"> <%= link_to  is_starred_page ? "Remove" : "Star" , is_starred_page ? remove_starred_path(task) : add_to_starred_path(task), method: is_starred_page ? :delete : :post %></li>
            <% if task.user_id == current_user.id %>
              <li class="popup-link"><%= link_to "Edit", edit_task_path(task) %></li>
              <li class="popup-link"><%= button_to "Delete", task, method: :delete, data: {"confirm": :"Are you sure?"}, class: "btn-link"%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%# due date %>
  <div class="flex f-c mt-2 text-sm">
    <p class=" text-w"><%= task.is_completed ? "Task Completed" : "Due on" %></p>
    <p class="flex f-center text-w mt-1 capitize text-bl">
      <span class="material-symbols-outlined text-md text-w mr-1">
        calendar_today
      </span>
      <%= task.end_date.strftime("%^b %d, %Y %I:%M %p")  %>
    </p>
  </div>
  <%#  %>
  <%# bottom section collaborators and button action %>
  <div class="flex f-center f-space-between mt-3 ">
    <% if collabs.size() > 0 %>
      <div class="flex f-c">
        <p class="text-sm mb-2 capitize text-w">collaborators</p>
        <div class="flex">
          <div class="avatar-group">
            <div class="hidden-avatars text-sm">
              <%= collabs.size() %>
            </div>
            <% collabs.each do |collab| %>
              <div class="avatar-stack">
                <% if collab.avatar_url != nil %>
                  <img src="<%= collab.avatar_url %>" class="" alt="">
                <% else %>
                  <%= image_tag "avatar.png", class: "" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%#  %>
    <%#  %>
    <%#  %>
    <%# action to complete %>
    <% if task.user_id == current_user.id %>
      <% if !task.is_completed %>
        <%= link_to "Mark Complete", mark_complete_path(task.id), method: :patch,data: {"confirm": :"Are you sure?"}, class: "btn btn-peace" %>
      <% else %>
        <%= link_to "Mark uncomplete", mark_uncomplete_path(task.id), method: :patch, class: "btn btn-peace" %>
      <% end %>
    <% elsif !task.is_completed && request.path != starred_tasks_path %>
      <% if task.collab_is_complete != 1 %>
        <%= link_to "Mark Complete", collab_mark_complete_path(task.id), method: :patch,data: {"confirm": :"Are you sure?"}, class: "btn btn-peace" %>
      <% else %>
        <%= link_to "Mark uncomplete", collab_mark_incomplete_path(task.id), method: :put,data: {"confirm": :"Are you sure?"}, class: "btn btn-success" %>
        <%# <p class="text-sm p-sm bg-s text-w rounded">You completed the task</p> %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
