<div>
  <div class="flex f-center mb-3">
    <h1 class="hd-lg">Tasks</h1>
    <div class="flex f-center ml-2">
      <a href="/tasks/date/<%= @date ? Date.parse("#{@date}").prev_day : Date.parse(Time.now.strftime("%Y-%m-%d")).prev_day %>">
        <span class="material-symbols-outlined mr-3 p-1 bg-c rounded-o">
          chevron_left
        </span>
      </a>
      <h4 id="cur-date"> <%= @date ? Date.parse("#{@date}").strftime("%Y-%m-%d") : Time.now.strftime("%Y-%m-%d") %> </h4>
      <a href="/tasks/date/<%= @date ? Date.parse("#{@date}").next : Date.parse(Time.now.strftime("%Y-%m-%d")).next %>">
        <span class="material-symbols-outlined ml-3 p-1 bg-c rounded-o">
          chevron_right
        </span>
      </a>
    </div>
    <div class="action">
      <span class="material-symbols-outlined ml-3 p-1 bg-c rounded-o show-on-small cursor-p" id="sidebar-toggler">
        calendar_month
      </span>
    </div>
  </div>
  <div class="tasks grid">
    <% if @tasks.size() > 0 %>
      <% @tasks.each do |task| %>
        <% unless task.is_completed %>
          <%= render task, collabs: @collab_data.select{ |tasks| tasks[:task_id] == task.id } , collab_task: false %>
        <% end %>
      <% end %>
    <% else %>
      <div class="flex f-center f-center-vh" style="height: 300px">
        <h2 class="text-md text-center text-b-hint">No Tasks on this day!</h2>
      </div>
    <% end %>
  </div>
  <% if @collab_tasks.size() > 0 %>
    <h1 class="hd-lg mt-3 mb-2">Collabs By Others</h1>
    <div class="tasks grid">
      <% @collab_tasks.each do |task| %>
        <%= render task, collabs: Collaborat, collab_task: true%>
      <% end %>
    </div>
  <% end %>
  <h1 class="hd-lg mt-3 mb-2">Completed Tasks</h1>
  <div class="tasks grid">
    <% @tasks.each do |task| %>
      <% unless !task.is_completed %>
        <%= render task, collabs: @collab_data.select{ |tasks| tasks[:task_id] == task.id } , collab_task: false %>
      <% end %>
    <% end %>
  </div>
</div>
