<div class="flex">
  <div>
    <a href="<%= tasks_by_date_path(Date.parse("#{@task.start_date}").strftime("%Y-%m-%d")) %>">
      <span class="material-symbols-outlined mr-3 p-1 bg-c rounded-o">
        arrow_back
      </span>
    </a>
  </div>
  <div class="w-100">
    <h1 class="capitize mb-3"><%= @task.title %></h1>
    <h3>Description</h3>
    <div class="flex f-c p-2 bg-c rounded-sm" style="min-width: 300px; max-width: 700px">
      <p class="text-md mt-2 flex" style="line-height: 1.5;"><%= @task.description %></p>
    </div>
    <br>
    <div class="flex f-center f-jc-sb">
      <div>
        <h5>Start Date</h5>
        <p class="text-md mt-2 p-1 rounded bg-c"><%= @task.start_date.strftime("%b %d, %Y %I:%M %p") %></p>
      </div>
      <div>
        <h5>End Date</h5>
        <p class="text-md mt-2 p-1 rounded bg-c"><%= @task.end_date.strftime("%b %d, %Y %I:%M %p") %></p>
      </div>
    </div>
    <br>
    <div class="collaborators">
      <h3 class="test-md mb-3">Collaborators</h3>
      <% @collaborators.each do |collab| %>
        <% unless !collab.is_accepted  %>
          <div class="flex f-center f-jc-sb mb-2">
            <div class="flex f-center-vh">
              <% if collab.avatar_url != nil %>
                <%= image_tag collab.avatar_url, class: "avatar avatar-sm" %>
              <% else %>
                <%= image_tag "avatar.png", class: "avatar avatar-sm" %>
              <% end %>
              <p class="text-md ml-2"><%= collab.email %></p>
            </div>
            <p class="text-sm ml-4 text-bl <%= collab.is_completed ? "text-success" : "text-error"%> "><%= collab.is_completed ? "Completed" : "Task Incomplete"%></p>
          </div>
        <% end %>
      <% end %>
      <br>
      <br>
      <h3 class="test-md mb-3">Collab Requests</h3>
      <% @collaborators.each do |collab| %>
        <% unless collab.is_accepted  %>
          <div class="flex f-center f-jc-sb mb-1">
            <div class="flex f-center">
              <% if collab.avatar_url != nil %>
                <%= image_tag collab.avatar_url, class: "avatar avatar-sm" %>
              <% else %>
                <%= image_tag "avatar.png", class: "avatar avatar-sm" %>
              <% end %>
              <p class="text-md ml-2"><%= collab.email %></p>
            </div>
            <p class="text-sm ml-4 text-bl text-error ">Pending</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
