<!DOCTYPE html>
<html>
  <head>
    <title>TaskreminderApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <p class="pos-fix bg-w" style="top: 80px; right:20px"><%= notice %></p>
    <p class="pos-fix bg-w" style="top: 80px; right:20px"><%= alert %></p>
    <%# Navbar %>
    <% if user_signed_in? %>
      <%= render 'components/navbar' %>
      <%# Container %>
      <div class="container pos-rel">
        <div class="flex f-jc-sb">
          <%# left sidebar %>
          <%= render 'components/sidebar' %>
          <%# main content %>
          <main class="main p-2">
            <%= yield %>
          </main>
          <%# right sidebar %>
          <%= render 'components/sidebarright' %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
